<!DOCTYPE html>
<html>
<head>
  <title>Flatirons saas</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "flatirons/saas/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
